@import "../../styles/mixins.less";

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--primary-color);

    &__title {
        padding: 24px;

        .font-bold(28px);
    }
}
