@import "../../styles/mixins.less";

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);

    &__title {
        padding: 24px;
        color: white;

        .font-bold(28px);
    }

    &__menu-item {
        padding: 12px;
    }
}
