<div class="data-table">
    <div class="data-table__title"> 
        Таблица Данных 
    </div>

    <div class="data-table__filters">
        <div class="data-table__filters-filter">
          <div class="data-table__filters-filter-title">Фильтр отчетного периода: </div>
          <p-datepicker class="data-table__filters-filter-input"
                        selectionMode="range"
                        placeholder="Выберите период" 
                        [(ngModel)]="_dateRange" 
                        (onClose)="_applyFilters()" />
        </div>
      
        <div class="data-table__filters-filter">
          <div class="data-table__filters-filter-title">Фильтр точки продажи: </div>
          <input class="data-table__filters-filter-input"
                 type="text"
                 placeholder="Введите точку продажи" 
                 pInputText 
                 [(ngModel)]="_salesPoint"
                 (ngModelChange)="_onSalesPointChange($event)" />
        </div>
      
        <div class="data-table__filters-filter">
          <div class="data-table__filters-filter-title">Фильтр агента: </div>
          <p-select class="data-table__filters-filter-select"
                    optionLabel="name" 
                    placeholder="Выберите агента" 
                    [options]="_agents"
                    [showClear]="true" 
                    [(ngModel)]="_selectedAgent"
                    (onChange)="_applyFilters()" />
        </div>
      
        <div class="data-table__filters-filter">
          <div class="data-table__filters-filter-title">Фильтр источника данных: </div>
          <p-select class="data-table__filters-filter-select"
                    optionLabel="name" 
                    placeholder="Выберите агента" 
                    [options]="_dts"
                    [showClear]="true" 
                    [(ngModel)]="_selectedDts"
                    (onChange)="_applyFilters()" />
        </div>
    </div>

    <div class="data-table__table">
        <p-table [showGridlines]="true"
                 [value]="(_filteredReports$ | async) || []"
                 [columns]="_tableConfig"
                 [reorderableColumns]="true"
                 [paginator]="true"
                 [rows]="5"
                 [resizableColumns]="true"
                 [tableStyle]="{ 'min-width': '50rem' }"
                 [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template #header
                         let-columns>
                <tr>
                    @for (value of columns; track value) {
                      <th pResizableColumn pReorderableColumn>
                        @if (value.isEditable) {
                          <input #inputRef
                                 class="data-table__filters-filter-input"
                                 pInputText
                                 [(ngModel)]="value.column"
                                 (blur)="_editColumn(value)"
                                 (keyup.enter)="_editColumn(value)"
                          />
                        } @else {
                          <span (dblclick)="_editColumn(value)">
                            {{ value.column }}
                          </span>
                        }
                    }
                </tr>
            </ng-template>
        <ng-template #body 
                     let-index="rowIndex"
                     let-columns="columns"
                     let-items>
                <tr [pReorderableRow]="index">
                  @for (value of columns; track value) {
                    <td>
                      @if (value.field === 'dateAccIn') {
                        {{ _getFieldValue(items, value.field) | date: "fullDate" }}
                      } @else if (value.field === 'strono') {
                        {{ _getFieldValue(items, value.field) ? 'Да' : 'Нет' }}
                      } @else {
                        {{ _getFieldValue(items, value.field) }}
                      }
                  </td>
                  }
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


